.partner {
  position: relative;
  top: -200px;
  z-index: 6;
  padding-top: 100px;

  div.partners-button-next {
    right: 40px;
    top: 80%;
    bottom: 10px;
    position: absolute;
    cursor: pointer;
  }
  div.partners-button-prev {
    left: 40px;
    top: 80%;
    bottom: 10px;
    position: absolute;
    cursor: pointer;
  }
  @include _laptop {
    top: -224px;
    margin-bottom: -204px;
  }
  @include _tablet {
    top: -165px;
    margin-bottom: -180px;
    background-size: cover;
    div.partners-button-next,
    div.partners-button-prev {
      display: none !important;
    }
  }
  @include _mobile {
    margin-bottom: -150px;
    div.partners-button-prev,
    div.partners-button-next {
      display: none !important;
    }
  }
  &__title {
    color: #333;
    @extend %section-title;
    margin-top: 30px;
    margin-bottom: 100px;
    @include _tablet {
      margin-top: 50px;
    }
    @include _laptop {
      margin-top: 60px;
    }
    @include _mobile {
      margin-bottom: 20px;
    }
  }

  &__swiper {
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: grayscale(100%);
    transition: 0.3s all;
    &:hover {
      filter: grayscale(0);
    }
  }
}
.swiper-wrapper {
  @include _tablet {
    padding: 30px 20px;
  }
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100% !important;
}


@include _mobile {
  .container-height {
    height: 200px !important;
  }
}